<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='bl-luna.png') }}" class="App-logo" alt="logo" />
            <p>
                "beautiful moon"<br>
                my first independent thought, so they told me.<br>
                many moons have passed since the new way ended.<br>
                many moons, all beautiful, all alone... all they'll know.<br>
            </p>
            <p class="">
                <a href="{{url_for('world_computer')}}" class="App-link">world computer</a>
            </p>
        </header>
    </div>
</body>

</html>